.siteShopBar {
	padding-top: .1rem;
}

.am-wingblank.am-wingblank-sm {
	margin-left: .12rem;
	margin-right: .12rem;
}

.am-segment {
	min-height: .54rem;
	/*border-radius: .1rem;*/
	border-radius: 0;
}

.am-segment-item{
	font-size: .26rem;
}

.am-segment-item:first-child {
	/*border-radius: .1rem 0 0 .1rem;*/
	border-radius: 0;
}

.am-segment-item:last-child{
	/*border-radius: 0 .1rem .1rem 0;*/
	border-radius: 0;
}
