.like_modal.am-modal.am-modal-transparent .am-modal-content .am-modal-body {
	font-size: .26rem;
}

.like_modal .am-modal-title {
	font-size: .4rem;
}

.like_modal_content {
	font-size: .6rem;
}

.like_modal_content > i {
	padding: 0 .1rem;
}

.like_star {
	width: .84rem;
	font-size: .6rem;
	border: none;
	color: #108ee9;
}
